version 7.1.5

source https://www.nuget.org/api/v2
storage: none
framework: auto-detect

nuget FSharp.Core

nuget Dap.Prelude
nuget Dap.Context
nuget Dap.Platform.Cli
nuget Dap.Platform
nuget Dap.Local

nuget Dap.Skia
nuget Dap.Gui

# Forms
nuget Microsoft.Maui

# Fabuous
nuget Fabulous.Core
nuget Fabulous.CustomControls
nuget Fabulous.LiveUpdate

nuget Microsoft.SourceLink.GitHub prerelease
nuget Microsoft.Build.Tasks.Git prerelease
nuget Microsoft.SourceLink.Common prerelease

# group Build
nuget Dap.Build
