version 7.1.5

source https://www.nuget.org/api/v2
storage: none
framework: auto-detect

nuget FSharp.Core

nuget Dap.Prelude
nuget Dap.Context
nuget Dap.Platform.Cli
nuget Dap.Platform
nuget Dap.Local

nuget Dap.Skia
nuget Dap.Gui

# Fabuous
nuget Microsoft.Maui.Controls
nuget Fabulous.MauiControls

nuget Microsoft.SourceLink.GitHub
nuget Microsoft.Build.Tasks.Git
nuget Microsoft.SourceLink.Common

# Build
nuget Dap.Build
